#theDiv {
  width: 40vw;
  height: 40vw;
  background-color: lightskyblue;
}
#p {
  background-color: lightskyblue;
}
h1 {
  background-color: lightseagreen;
}
h2 {
  background-color: lightseagreen;
  width: 300px;
}
